*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
}
:root{
    --table-color:#02083a;
    --border-color:#00c3ff5b;

}
#player1,#player2{
    border-style: solid;
    align-items:end;
    font-size: 60px;
    color: white;
}

.player_bar{
    justify-content: space-around;
    display: flex;
    /**height: 50px;*/
}

.container{
    box-shadow: 0 0 20px #ff00ea;
    border-color: #ff00ea;
    border-style: double;
    border-radius: 6px;
    background-color:var(--table-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.array_table{
     background-color: var(--table-color); 
}
.table{
display: flex;
}
.array{
    text-shadow: 0 0  20px #c300ff;
    display: flex;
    width: 150px;
    height: 115px;
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 5px var(--border-color),0 0 5px var(--border-color);
    transition: 200ms;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
.array:hover{
    font-size: 100px;
    background-color:var(--border-color);
}