@keyframes fadeOutTransition {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}


*{margin: 0;padding: 0;box-sizing: border-box;}
:root{
    --table-color:#02083a;
    --border-color:#00c3ff5b;
    --button-color:#BC13FE;
    --button-border-color:#52c9db;
}
body{
    background-color: #000000;
}
 .title{
    display: flex;
    justify-content: center;
    margin-bottom:10%;
}
p{
    display: block;
    color: white;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.animation{
    animation-name: fadeOutTransition;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#select-player{
    /* REMOVE AFTER*/display: none;
    border-style: solid;
    border-color: #c300ff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#insert-name{
    /* REMOVE AFTER*/display: none;
    border-style: solid;
    border-color: #c300ff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-menu {
    border-style: solid;
    border-color: #c300ff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: 20s;
}
.center button:hover{
    color: #000000;
    background-color: var(--button-border-color);
    box-shadow: 0 0 12px var(--button-border-color);
    border-color: transparent;
}
.center button{
    display: block;
    border-radius: 5px;
    margin: 5px;
    font-size: 25px;
    padding: 6px;
    color:var(--button-color);
    border-color:var(--button-border-color);
    background-color: transparent;
    transition: 300ms;
}
.center{
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.center input{
    font-size: 15px;
    border-radius: 5px;
    padding: 6px;
    margin: 5px;
    width: 200px;
    height: 35px;
}
.center input:focus{outline: none;}
#player1,#player2{
    border-style: solid;
    font-size: 60px;
    color: white;
}

.player_bar{
    display: flex;
    /**height: 50px;*/
}

.container{
    /*REMOVE AFTER*/ display: none;
    box-shadow: 0 0 20px #ff00ea;
    border-color: #ff00ea;
    border-style: double;
    border-radius: 6px;
    background-color:var(--table-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.container .player_bar{
    justify-content: space-around;
    border-style: dashed;
    border-color: #ff00ea;
}
.array_table{
     background-color: var(--table-color); 
}
.table{
display: flex;
}
.array{
    text-shadow: 0 0  20px #c300ff;
    display: flex;
    width: 150px;
    height: 115px;
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 5px var(--border-color),0 0 5px var(--border-color);
    transition: 200ms;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
.array:hover{
    font-size: 100px;
    background-color:var(--border-color);
}