*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(192, 190, 190);
}
:root{
    --table-color:#070f4d;
    --border-color:#00c3ff5b;

}
#player1,#player2{
    border-style: solid;
    align-items:end;
    font-size: 60px;
    color: white;
}

.player_details{
    justify-content: space-around;
    display: flex;
    /**height: 50px;*/
}

.container{
    box-shadow: 0px 1px 2px rgb(133, 129, 129);
    background-color:var(--table-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.array_table{
     background-color: var(--table-color); 
}
.table{
display: flex;
}
.array{
    text-shadow: 5px 4px 5px #272727;
    display: flex;
    width: 150px;
    height: 100px;
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 15px var(--border-color),0 0 15px var(--border-color);
    transition: 350ms;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.array:hover{
    text-shadow: 5px 4px 5px #7c3762;
    font-size: 70px;
    background-color:var(--border-color);
}